$color_1: #121212;
$color_2: #6c6c6c;
$color_3: #0067f4;
$color_4: #fff;
$background-color_1: #f4f6f7;
$background-color_2: #fff;
$background-color_3: #2bdbdc;
$background-color_4: #0067f4;
$background-color_5: #005ad5;
$border-color_1: #0067f4;
$border-color_2: #005ad5;

.pricing_main {
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: #f4f6f7;
    .section-title {
        .title {
            font-size: 50px;
            font-weight: 600;
            line-height: 55px;
            color: #121212;
        }

        @media(max-width:767px) {
            .title {
                font-size: 28px;
                line-height: 38px;
                font-weight: 700;

            }
        }

        .text {
            margin-top: 24px;

            .text {
                font-size: 16px;
                color: #fff;
                line-height: 24px;
                margin-top: 16px
            }
        }
    }

    .pricing-area {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: $background-color_1;

        @media only screen and (min-width:768px) and (max-width:991px) {
            .pricing-area {
                padding-top: 100px;
                padding-bottom: 100px
            }
        }

        @media(max-width:767px) {
            .pricing-area {
                padding-top: 80px;
                padding-bottom: 80px
            }
        }
    }

    .single-pricing {
        margin-top: 40px;
        -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
        -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
        padding: 24px 20px 50px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        background-color: $background-color_2;

        .pricing-header {
            .sub-title {
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
                color: $color_1;
                position: relative;
                padding-bottom: 8px;

                &::before {
                    position: absolute;
                    content: '';
                    width: 72px;
                    height: 4px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: $background-color_3;
                    margin: 0 auto;
                }
            }

            .price {
                display: block;
                font-size: 64px;
                font-weight: 600;
                line-height: 80px;
                margin-top: 32px;
                color: $color_1;
            }

            .year {
                font-size: 20px;
                font-weight: 500;
                line-height: 25px;
                color: $color_2;
                margin-top: 3px;
            }
        }

        .pricing-list {
            margin-top: 40px;

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    font-size: 16px;
                    line-height: 24px;
                    color: $color_1;
                    margin-top: 16px;

                    .check_icon {
                        color: $color_3;
                        margin-right: 8px;
                    }
                }
            }
        }

        .pricing-btn {
            margin-top: 42px;

            .main-btn {
                background-color: #0067f4;
                border-radius: 50px;
                color: #fff;
                border-color: #0067f4;
                border: 2px solid transparent;
                padding: 10px 32px;
                z-index: 11;
                font-weight: 700;
                text-decoration: none;
                position: relative;
                font-size: 16px;
                line-height: 46px;
                transition: .3s;
                z-index: 10;

                &:hover {
                    background-color: $background-color_5;
                    border-color: $border-color_2;
                }
            }
        }

        .buttom-shape {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            #Layer_1 {
                width: 100%;

                #bottom-part {
                    width: 100%;
                }
            }
        }
    }

    .single-pricing.pro {
        .pricing-header {
            .sub-title {
                &::before {
                    right: auto;
                    left: 0;
                    background-color: $background-color_4;
                }
            }
        }

        .pricing-baloon {
            position: absolute;
            top: 0;
            right: -78px;
            width: 156px;
        }
    }

    .single-pricing.enterprise {
        .pricing-header {
            .sub-title {
                &::before {
                    right: 0;
                    left: auto;
                    background-color: $background-color_4;
                }
            }
        }

        .pricing-flower {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 144px;

            img {
                width: 100%;
            }
        }
    }

    @media only screen and (min-width:768px) and (max-width:991px) {
        .pricing-area {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    @media (max-width:767px) {
        .pricing-area {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .single-pricing {
            .pricing-header {
                .price {
                    font-size: 50px;
                    margin-top: 16px;
                }
            }

            .pricing-list {
                ul {
                    li {
                        font-size: 14px;
                        margin-top: 12px;
                    }
                }
            }
        }

        .single-pricing.enterprise {
            .pricing-flower {
                width: 110px;
            }
        }
    }

    @media only screen and (min-width:992px) and (max-width:1200px) {
        .single-pricing {
            .pricing-header {
                .price {
                    font-size: 50px;
                    margin-top: 16px;
                }
            }

            .pricing-list {
                ul {
                    li {
                        font-size: 14px;
                        margin-top: 12px;
                    }
                }
            }
        }

        .single-pricing.enterprise {
            .pricing-flower {
                width: 110px;
            }
        }
    }

    @media only screen and (min-width:576px) and (max-width:767px) {
        .single-pricing {
            .pricing-header {
                .price {
                    font-size: 64px;
                    margin-top: 32px;
                }
            }

            .pricing-list {
                ul {
                    li {
                        font-size: 16px;
                        margin-top: 16px;
                    }
                }
            }
        }

        .single-pricing.enterprise {
            .pricing-flower {
                width: 144px;
            }
        }
    }

}